/*---- global.css begin----*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;}
body{font:normal normal normal .24rem/1.5em "HelveticaNeue-Light","Helvetica Neue Light","Clockopia";font-weight:300;height:100%;word-break:break-all; font-size: 0.26rem;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
a:active,a:focus{outline:none;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
::-moz-selection{color:#FFFFFF;background-color:#209EEB;}
li{list-style-type:none;}
img{border:none;}
fieldset{border-style:none}
label,button{cursor:pointer;}
select,input,textarea{font-size:.24rem;line-height:1.2em;}
.clearfix:before,.clearfix:after{clear:both;content:'.';display:block;height:0;visibility:hidden;line-height:0;}
.clearfix{*zoom:1;}
.fix{word-break:keep-all;overflow:hidden;text-overflow:ellipsis;}
.clear{font-size:0;line-height:0;height:0;clear:both;overflow:hidden;display:block;}
.none{display:none;}
.fl {float:left;}
.fr {float:right;}
.pr {position:relative;}
.pa {position:absolute;}
.db {display:block;text-indent:-999em;}
.hide {display:block;width:0;height:0;overflow:hidden;}
input[type=text]{outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
header{display: block;width: 100%;}
body,html{background: #fff;overflow-x: hidden;width: 100%;}
body{-webkit-text-size-adjust : 100% ;-moz-text-size-adjust : 100% ;-ms-text-size-adjust : 100% ;text-size-adjust : 100%;}

.wrap{width: 100%;}
.wrap a{display: block;width: 2.2rem;height: 1.76rem;background: #F6B213;color: #000;}

.head{width: 100%;height: 12rem;background: #050A04;}

.part1{width: 100%;height: 6rem;background: #ECECEC;}

.part2{width: 100%;height: 6rem;background: #518868;}

.part3{width: 100%;height: 6rem;background: #ECECEC;}









/* 通用 */
.pop_mask{background:rgba(0,0,0,0.8);position:fixed;left:0;top:0;width:100%;height:100%;z-index:998}
.pop_box{position:fixed;top:50%;left:50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index:999;color: #000; display:none;}
.pop_close{display:block;position:absolute;width:.33rem;height:.33rem;right:.08rem;top:.15rem;z-index:10;content:"×";font-size:.36rem;color:#000;text-align:center;line-height:2000rem;overflow:hidden;background:url(ossweb-img/pop_close.png) no-repeat 0 0;background-size:100%;}

/* 图标 */
.pop_ico_des,.ico_pop_channel{width:.9rem;height:.9rem;position:relative;}
.pop_ico_des:before,
.ico_pop_channel:before{background:url(//game.gtimg.cn/images/gp/public/shareicon.png) no-repeat;display:inline-block;background-size:360rem 90rem;width:10000%;height:10000%;content:"";position:absolute;left:0;top:0;-webkit-transform-origin: 0 0;-webkit-transform: scale(0.01);transform-origin: 0 0;transform: scale(0.01);}
.ico_pop_channel_3:before{background-position:-180rem -0rem;}
.ico_pop_channel_1:before{background-position:-0rem 0}
.ico_pop_channel_4:before{background-position:-270rem 0rem;}
.ico_pop_channel_2:before{background-position:-90rem 0rem;}
.pop_ico_des_2:before{background-position:-180rem -0rem;}
.pop_ico_des_1:before{background-position:-90rem 0rem;}

/* 按钮 */
.pop_btn{display:inline-block;background:url(ossweb-img/btn_style_1.jpg) no-repeat 0 0;width:2.63rem;height:0.8rem;line-height:0.8rem;overflow:hidden;display:inline-block;background-size:100% 100%;font-size:0.4rem;color:#472b0b;font-weight:bold;margin: 0 .2rem;}
.pop_btn_1,.pop_btn_2{width:2rem;height:.6rem;line-height:.6rem;text-align:center;font-size:.28rem;background-size:100%;border-radius:0;display:inline-block;overflow:hidden;background:url(ossweb-img/pop_btn.jpg) no-repeat 0 0;color:#000;font-weight:bold;}
.pop_style_1 .pop_return,
.pop_style_2 .pop_return,
.pop_style_3 .pop_return{text-align:center;padding:.1rem 0 0.2rem;}

/* 对话框 */
.pop_dia_1{font-size:0.26rem;padding:0.6rem 0 0.45rem;min-height: .5rem;}
.pop_dia_1 p{font-size:.28rem;margin-bottom:1em;text-align:center;}
.pop_dia_1 .sentence_strong{font-size:.3rem;}
.pop_dia_1 .color_strong{color:#c30;}

.pop_dia_2{padding:.4rem 0;text-align:center;color:#191919;}
.pop_dia_2 .ico_dia_warning{display:inline-block;vertical-align:-.04rem;margin-right:.06rem;}
.pop_dia_2 p{display:inline-block;font-size:.36rem;line-height:.48rem;}

.pop_dia_3{min-height:.5rem;padding-top:.5rem;}
.pop_dia_3 p{font-size:.28rem;text-align:center;}
.pop_dia_3 .sentence_strong{font-size:.36rem;padding:.2rem;font-weight:bold;}

.pop_dia_4{min-height:.5rem;padding-top:.5rem;}
.pop_dia_4 p{font-size:.28rem;text-align:center;}
.pop_dia_4 .sentence_strong{font-size:.36rem;padding:.2rem;font-weight:bold;}

.pop_dia_5{min-height:.5rem;padding-top:.5rem;}
.pop_dia_5 p{font-size:.28rem;text-align:center;}
.pop_dia_5 .build{width:6.3rem;height:4.25rem;margin:.2rem auto;}

.pop_box .color_strong{color:#c30;}
/* pop_style_1 */
.pop_style_1{width:6.9rem;min-height:3rem;background:url(ossweb-img/pop_bd.jpg) repeat 0 0;border-radius:0;}
.pop_style_1 .pop_hd{background:url(ossweb-img/pop_hd.jpg) no-repeat 0 0;height:0.66rem;background-size:100%;font-weight:bold;color:#000;font-size:.32rem;text-align:center;font-weight:bold;line-height: 0.66rem;}
.pop_style_1 .pop_bd{padding-bottom:.2rem;background:url(ossweb-img/pop_bd.jpg) no-repeat 0 0;background-size:100% 100%;}

/* 登录框 */
.pop_login_1 {text-align:center;padding:.4rem 0;}
.pop_login_1 a{display:inline-block;width:2.5rem;color:#3e3e3e;}
.pop_login_1 .pop_ico_des{display:inline-block;}
.pop_login_1 a span{display:block;height:.5rem;line-height:.5rem;font-size:.24rem;}

/*装备介绍*/
.pop_style_1 .pop_btn_tx {padding: 0 0.8rem;}
.pop_return_tips{text-align:center;padding:0 0 0.2rem;}
.pop_giftinfo_1{padding-left:2.2rem;margin:0 .5rem .1rem;overflow:hidden;}
.pop_giftinfo_1 .thumb{width:2rem;height:2rem;float:left;margin-left:-2.2rem;}
.pop_giftinfo_1 .thumb img{width:100%;height:100%;}

/*记录*/
.pop_record_1 li{padding:.15rem .5rem .15rem .7rem}
.pop_record_1 li .sum{float:left;min-width:.25rem;height:.25rem;border-radius:.9rem;margin-left:-.4rem;background:#ccc;text-align:center;line-height:.25rem;}
.pop_record_1 li a{color:#c30;}
.pop_record_1 li:nth-child(even){background:rgba(0,0,0,0.1)}
.pop_record_1 .pop_btn{vertical-align:middle;}
.pop_record_1 .action a{width: 1.71rem;height: .53rem;line-height: .5rem;display: inline-block;text-align: center;font-size: .24rem;background: url(ossweb-img/btn_style_1.jpg) no-repeat 0 0;background-size: 100%;color:#fff;}

/* 帐号选择 */
.pop_select_list:before{content: '';display: table;}
.pop_select_list li{margin:.2rem;}
.pop_select_list select{display:block;}
.pop_select_list select{position:relative;overflow:hidden;margin:0;background:#2a231f;text-overflow:ellipsis;white-space:nowrap;-webkit-appearance:button;-webkit-user-select:none;display:block;width:100%;font-size:.24rem;padding:.1rem;border:1px solid #ccc;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAYAgMAAACU8nURAAAABGdBTUEAALGPC/xhBQAAAAxQTFRFAAAA/cNc/cJc/sNds1kmNAAAAAN0Uk5TAIGC21iP2AAAAEdJREFUCNetyqERgDAABMEDE4HFU0JaoDEmpdECxcQyYf7SAm9O7HOP7KXazmYfVntCk+GQociwTM4hnEO3Rc5BhmuGnf/3Aej9L7i005bwAAAAAElFTkSuQmCC) no-repeat 98% 80%;background-size:auto 50%;}
.pop_select_list select:focus{outline:0}
.pop_select_list select option{color:#d1e89d}
.pop_select_list select{background: #d4cdb9;border:1px solid #b6b09e;background-size:auto 100%;}

/* 分享渠道 */
.pop_id_9 {min-height:3rem}
.pop_id_9 .pop_channel_list{padding-top:.4rem;font-size:0px;text-align:center;}
.pop_id_9 .pop_channel_list li{width:25%;display:inline-block;font-size:.24rem;}
.pop_channel_list li .ico_pop_channel{display:block;margin:0 auto .2rem;height:1.0rem;}
.pop_channel_list li span{display:block;text-align:center;font-size:.24rem;}
.pop_channel_list li a{color:#000;}

/* 活动说明 */
.pop_info_box{padding:.2rem;height:4.6rem;overflow-y:scroll;font-size:.24rem;margin-bottom: 0.4rem;}
.pop_info_box h4{font-size:.36rem;line-height:1.5em;font-weight:normal;margin-bottom:.5em;}
.pop_info_box dt{margin-bottom:.5em;}
.pop_info_box dd{margin-bottom:2em;}

.rules_style_1 li{padding-left:1em;margin-bottom:.5em;}
.rules_style_1 li li{padding-left:0px;}
.rules_style_1 .num{float:left;margin-left:-1em;}

/* 任务模块 */
.pop_task_box{padding:.25rem;position:relative;font-size:.28rem;}
.pop_task_box .desc{margin-bottom:0.5em;}
.pop_task_box .ico_des{display:inline-block;}
.pop_task_box .ico_des_1{margin-left:.06rem;}
.pop_task_box .date_tips{position:absolute;right:.25rem;top:.25rem;line-height:1.5em;}
.pop_task_box .task_list_1 li {margin-bottom:.12rem;background: -webkit-linear-gradient(left, #bbc1c7 0%,#fff 100%);height:.6rem;line-height:.6rem;padding-left:.2rem;position:relative;line-height:.5rem;color:#000;}
.pop_task_box .task_list_1 li h3{font-weight:normal;}
.pop_task_box .task_list_1 li .stauts{position:absolute;left:4.5rem;top:0;font-size:.26rem;text-align:center;width:1.9rem;}
.pop_task_box .task_list_1 li p{position:absolute;left:4rem;top:0;}
.task_list_1 li a{display:inline-block;}
.task_list_1 li a{background:url(ossweb-img/pop_btn.jpg) no-repeat 0 0;line-height:.6rem;color:#000;width:1.9rem;height:.6rem;font-weight:bold;background-size:100%;}
.task_list_1 li .stauts{text-align:center;width:1rem;}

/*分享浮动层 */
.pop_share{position:fixed!important;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,0.7) url(ossweb-img/pop-share.png) no-repeat 95% 5%;background-size:50% auto;z-index:99;-webkit-transform: translate(0,0);transform: translate(0,0);width:100%;}
.pop_share a{display:block;width:100%;height:100%;}

/*msdk分享*/
.pop_id_33{position:fixed;height:100%!important;left:0;top:0%;bottom:0;z-index:9999;display:none;border:2px solid #fff;background:#fff url(//game.gtimg.cn/images/gp/public/logo_400.jpg) no-repeat center center;background-size:auto 95%;width:100%!important; -webkit-transform: translate(0%,0%);transform: translate(0%,0%);}
@media all and (orientation : portrait){
	.pop_id_33{background:#fff url(//game.gtimg.cn/images/gp/public/logo_400.jpg) no-repeat center center;background-size:95% auto;}
}

/*视频弹窗*/
#pop_id_5{width:100%;height:100%;}
.pop_video_box,.pop_video_box video{width:100%;height:100%;}
